
.title{
  background-color: #1a1a1ad4;
  color: whitesmoke;
}
.card:hover {
    transform: scale(1.05);
  }
.genres{
 
  padding: 0.1rem;
  font-size: 1rem;
  background-color: rgba(14, 16, 17, 0.5);
  position: relative;
  top: 24px;
}
.rating{
    background-color: #314e0b6e;
    padding: 0.3rem;
    border-radius: 1rem;
    color: yellow;
  }
  
.space{
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 0;
  max-height: 40px;
}