.filters{
    align-items: center;
    justify-content: space-evenly;
    display: grid;
    grid-auto-rows: 2rem;
    grid-template-columns: repeat(auto-fit,minmax(8rem,13rem));
    background-color: rgba(128, 255, 0, 0.842);
    padding: 20px;
    margin: 20px 15px;
}